<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="well">
			<h2>About Page</h2>
			<img height="200" src="https://drive.google.com/file/d/1LCzR6ZLvsg6PMYOUOo6ZcuGVkb3wu2Ce/view?usp=sharing">
		</div>
	</div>
</div>